.QrCodeHeadHead{
    font-size: large;
    color: black;
    font-weight: 500;
}

.RegisterFor3{
    margin-left: auto;
    margin-right: auto;
}
.QrCodeHead{
    padding: 10px;
    font-size: large;
    font-family: 'poppins', sans-serif;
    color: snow;
    text-align: center;
}

.QrCode{
    padding: 20px;
}

.ScanningCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
