.RegisterFor4Head{
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: larger;
}

#fileInputLabel {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .RegisterFor4Browse{
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 25px;
}
.fa-upload{
    color: rgb(128, 0, 255);
    background-color: none;
    font-size: xx-large;
}

.custom-file-upload{
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'poppins', sans-serif;
    /* border: 1px solid rgb(234, 0, 255); */
}

