
.RegistePaperIndicator{
    padding: 15px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.InputForBiohead{
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
    font-family: 'poppins', sans-serif;
    font-size: large;
    font-weight: 400;
}
.mainRegisterPaper{
    width: 40%;
    padding: 10px 0px 20px;
    margin-left: auto;
    margin-right: auto;
}

.RegistePaperIndicatorEachSelected{
    padding: 2px;
    border: 1px solid whitesmoke;
    height: 25px;
    background-color: whitesmoke; 
    color: rgb(0, 0, 0);
    font-family: 'poppins', sans-serif;
    font-size: small;
    width: 25px;
    border-radius: 15px;
    text-align: center;
}

.RegistePaperIndicatorEach{
    padding: 2px;
    border: 1px solid whitesmoke;
    height: 25px;
    background-color: none; 
    color: whitesmoke;
    font-family: 'poppins', sans-serif;
    font-size: small;
    width: 25px;
    border-radius: 15px;
    text-align: center;
}

.InputForBio{
    display: flex;
    padding: 0px 40px;
    flex-direction: row;
    justify-content: space-between;
}
.InputForBiofordepartName{
    display: flex;
    padding: 0px 40px;
    flex-direction: row;
    justify-content: space-between;
}
.mainRegisterPaperInput{
    padding: 15px 10px;
    outline: none;
    font-size: medium;
    margin: 10px 5px;
    border-top: none;
    border-left: none;
    color: whitesmoke;
    background-color: transparent;
    border-right: none;
    border-bottom: 1px solid whitesmoke;
}
.registerPaperButton{
    width: 100%;
    display: flex;
    padding: 0px 20px;
    align-items: flex-end;
    justify-content: space-between;
}

.registerPaperButtonBTN{
    padding: 8px 16px;
    margin: 10px 40px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'poppins', sans-serif;
    border: 1px solid transparent;
    outline: none;
}

.registerPaperButtonBTN:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}

.registerPaperButton{
    margin-top: 30px;
}
.dialogBoxHeadInstruc{
    text-decoration: underline;
}
.dialogBoxHeadX{
    padding: 5px 15px;
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-family: 'poppins', sans-serif;
    text-align: right;
}

.dialogBoxHeadInstrucRule{
    font-family: 'poppins', sans-serif;
    padding: 10px   25px;
    font-size: medium;
}

.DialogBtn{
    outline: none;
    cursor: pointer;
    font-family: 'poppins', sans-serif;
    padding: 12px 18px;
    margin: 0px 25px;
    border: none;
    margin-left: auto;
    border-radius: 4px;
    width: max-content;
    background-color: black;
    color: whitesmoke;
}

.dialogBoxHeadInstrucRuledisclaimer{
    text-align: center;
    font-size: small;
    margin-top: 15px;
    font-family: 'poppins', sans-serif;
}
@media screen and (max-width: 1000px){
    
    .registerPaperButton{
        margin-top: 15px;
    }

    .InputForBio{
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: space-between;
    }
    .InputForBiofordepartName{
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .RegisterFor5ContainernameandNumberPara{
        font-size: medium;
    }
    .mainRegisterPaper{
        width: 100%;
    }
    .dialogBoxHeadX{
        font-size: medium;
    }
    .RegisterFor5ContainerHead{
        font-size: small;
    }
    .RegisterFor5ContainerMapingRowKey{
        font-size: small;
    }
    .RegisterFor5ContainerMapinghead{
        font-size: small;
    }
    .RegisterFor5ContainerMapingpara{
        font-size: small;
    }
    .mainRegisterPaperInput{
        color: whitesmoke;
    }
}