
.RegistePaperIndicator{
    padding: 15px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.InputForBiohead{
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
    font-family: 'poppins', sans-serif;
    font-size: large;
    font-weight: 400;
}
.mainRegisterPaper{
    width: 40%;
    padding: 10px 0px 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
}

.RegistePaperIndicatorEachSelected{
    padding: 2px;
    border: 1px solid rgb(234, 0, 255);
    height: 25px;
    background-color: rgb(234, 0, 255); 
    color: whitesmoke;
    font-family: 'poppins', sans-serif;
    font-size: small;
    width: 25px;
    border-radius: 15px;
    text-align: center;
}

.RegistePaperIndicatorEach{
    padding: 2px;
    border: 1px solid rgb(234, 0, 255);
    height: 25px;
    background-color: none; 
    color: rgb(234, 0, 255);
    font-family: 'poppins', sans-serif;
    font-size: small;
    width: 25px;
    border-radius: 15px;
    text-align: center;
}

.InputForBio{
    display: flex;
    padding: 0px 40px;
    flex-direction: row;
    justify-content: space-between;
}
.InputForBiofordepartName{
    display: flex;
    padding: 0px 40px;
    flex-direction: row;
    justify-content: space-between;
}
.mainRegisterPaperInput{
    padding: 15px 10px;
    outline: none;
    font-size: medium;
    margin: 10px 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(234, 0, 255);
}
.registerPaperButton{
    width: 100%;
    display: flex;
    padding: 0px 20px;
    align-items: flex-end;
    justify-content: space-between;
}

.registerPaperButtonBTN{
    padding: 8px 16px;
    margin: 10px 40px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'poppins', sans-serif;
    border: 1px solid transparent;
    outline: none;
}

.registerPaperButtonBTN:hover{
    background-color: rgb(234, 0, 255);
    color: whitesmoke;
}