.departmentEvents{
    color: whitesmoke;
    /* background-color: rgba(57, 57, 57, 0.86); */
}

.departmentsInGrid{
    width: 90%;
    display: grid;
    margin: 0px auto;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: auto auto auto; */
    justify-content: space-around;
    align-self: center;
    align-items: center;
    gap: 40px;
}

.departmentsInGridMain{
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.departmentsInGridEachHead{
    font-weight: 200;
    text-align: left;
    font-family: 'Inconsolata', monospace;
    font-size: medium;    
}
.departmentEventsHead{
    margin: 10px 70px;
    font-size: xx-large;
}
.departmentsInGridEach{
    height: 400px;
    width: 280px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    position: relative;
}

.departmentsInGridEachStackHead{
    font-family: 'Inconsolata', monospace;
    color: whitesmoke;
    margin-bottom: 8px;
    font-weight: 100;
    width: 100%;
    text-align: center;
}

.departmentsInGridEachStackPara{
    font-family: 'Inconsolata', monospace;

    color: whitesmoke;
    font-weight: 100;
    width: 100%;
    transition: all 1s;
    text-align: center;
}

.departmentEventsHead{
    font-family: 'Inconsolata', monospace;
    margin: 0xp;
}

.departmentsInGridEach img{
    border-radius: 10px;
    height: 400px;
    text-align: center;
    object-fit: cover;
    width: 280px;
}

.departmentsInGridEachStack{
    border-radius: 10px;
    position: absolute;
    height: 400px;
    width: 280px;
    top: 70%;
    padding-bottom: 20px;
}

.departmentsInGridEachStackHOVER{
    animation-duration: .6s;
    animation-name: animatineTi;
    animation-direction:normal;
    animation-fill-mode: forwards;
}

.departmentsInGridEachStackContentBG{
    height: 400px;
    top: 0%;
    position: absolute;
    /* background-color: rgba(15, 15, 15, 0.445); */
    width: 280px;
    border-radius: 10px;
}

.departmentsInGridEachStackContentHide{
    border-radius: 10px;
    z-index: 10; 
    position: absolute;
    height: 400px;
    width: 280px;
    top: 30%;
    align-items: center;    
    display: none;
    margin-bottom: 10px;
}

.departmentsInGridEachStackContentBG:hover{
    backdrop-filter: blur(2px); 
}

.departmentsInGridEachStackContent{
    border-radius: 10px;
    z-index: 10; 
    position: absolute;
    height: 400px;
    width: 280px;
    top: 30%;
    align-items: center;    
    display: block;
    margin-bottom: 10px;
    font-family: 'Inconsolata', monospace;

}

.departmentsInGridEachStackContent:hover{
    display: block;
}

.departmentsInGridEachStackContentPara{
    font-size: medium;
    color: rgba(245, 245, 245, 0.829);
    font-weight: 100;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.departmentsInGridEachStackContentPara{
    text-justify:distribute-all-lines;
}

.departmentsInGridMore{
    height: 400px;
    text-align: center;
    width: 280px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
.departmentsInGridMoreHead{
    font-weight: 100;
}

@keyframes animatineTi{
    from{
        border-radius: 10px;
        position: absolute;
        height: 400px;
        width: 280px;
        top: 70%;
        padding-bottom: 20px;
    }to{
        border-radius: 10px;
        position: absolute;
        height: 400px;
        width: 280px;
        top: 10%;
        z-index: 1111;
        padding-bottom: 20px;
    }
}