.departmentEvents{
    color: whitesmoke;
    /* background-color: rgba(57, 57, 57, 0.86); */
    margin-top: 25px;
    margin-bottom:40px;
    overflow: hidden;
}
.departmentsInGrid {
    width: 90%;
    height: 470px;
    margin: 7px auto;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    gap: 60px;
 /* Adjust duration as needed */
}

.departmentsInGrid::-webkit-scrollbar {
    width: 4px;
    height: 7px;
}

/* Define the custom scrollbar thumb */
.departmentsInGrid::-webkit-scrollbar-thumb {
    background-color: gray; /* Change this to your desired thumb color */
    border-radius: 60px;
}

/* Define the custom scrollbar track when hovered */
.departmentsInGrid::-webkit-scrollbar-thumb:hover {
    background-color: #393939; /* Change this to your desired thumb color when hovered */
}

/* Define a class for the animation */
.scroll {
    animation: scroll 20s linear infinite; /* Adjust duration as needed */
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(-100%); /* Move to the left */
    }
}

.departmentsInGridMain{
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.departmentsInGridEachHead{
    font-weight: 200;
    text-align: left;
    font-family: 'poppins', sans-serif;
    font-size: medium;    
}
.departmentEventsHead{
    font-size: xx-large;
}
.departmentsInGridEach{
    height: 400px;
    width: 280px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    position: relative;
}
.departmentEventsFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 90px;
    justify-content: space-between;
}
.departmentEventP{
    font-size: larger;
    font-family: 'poppins', sans-serif;
}
.departmentsInGridEachStackHead{
    font-family: 'Inconsolata', monospace;
    color: whitesmoke;
    margin-bottom: 8px;
    font-weight: 100;
    width: 100%;
    text-align: center;
}

.departmentsInGridEachStackPara{
    font-family: 'poppins', sans-serif;
    
    color: whitesmoke;
    font-weight: 100;
    width: 100%;
    transition: all 1s;
    text-align: center;
}

.departmentEventsHead{
    font-family: 'poppins', sans-serif;
    margin: 0xp;
}

.departmentsInGridEach img{
    border-radius: 10px;
    height: 400px;
    text-align: center;
    object-fit: cover;
    width: 280px;
}

.departmentsInGridEachStack{
    border-radius: 10px;
    position: absolute;
    height: 400px;
    width: 280px;
    top: 70%;
    padding-bottom: 20px;
}

.departmentsInGridEachStackHOVER{
    animation-duration: .6s;
    animation-name: animatineTi;
    animation-direction:normal;
    animation-fill-mode: forwards;
}

.departmentsInGridEachStackContentBG{
    height: 400px;
    top: 0%;
    position: absolute;
    /* background-color: rgba(15, 15, 15, 0.445); */
    width: 280px;
    border-radius: 10px;
}

.departmentsInGridEachStackContentHide{
    border-radius: 10px;
    z-index: 10; 
    position: absolute;
    height: 400px;
    width: 280px;
    top: 30%;
    align-items: center;    
    display: none;
    margin-bottom: 10px;
}

.departmentsInGridEachStackContentBG:hover{
    backdrop-filter: blur(2px); 
}

.departmentsInGridEachStackContent{
    border-radius: 10px;
    z-index: 10; 
    position: absolute;
    height: 400px;
    width: 280px;
    top: 30%;
    align-items: center;    
    display: block;
    margin-bottom: 10px;
    font-family: 'poppins', sans-serif;

}

.departmentsInGridEachStackContent:hover{
    display: block;
}

.departmentsInGridEachStackContentPara{
    font-size: medium;
    color: rgba(245, 245, 245, 0.829);
    font-weight: 100;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.departmentsInGridEachStackContentPara{
    text-justify:distribute-all-lines;
}

.departmentsInGridMore{
    height: 400px;
    text-align: center;
    width: 280px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
.departmentsInGridMoreHead{
    font-weight: 100;
}
@keyframes animatineTi{
    from{
        border-radius: 10px;
        position: absolute;
        height: 400px;
        width: 280px;
        top: 70%;
        padding-bottom: 20px;
    }to{
        border-radius: 10px;
        position: absolute;
        height: 400px;
        width: 280px;
        top: 10%;
        z-index: 1111;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 1000px){
    .departmentsInGrid{
        display: grid;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        grid-template-columns: 290px;
    }    
    .departmentEvents{
        margin-bottom: 30px;
    }
    .departmentEventsFlex{
        padding: 10px 50px;
    }
    .departmentEventP{
        font-size: small;
    }
    .departmentEventsHead{
        text-align: center;
        font-size: larger;
        /* background-color: aquamarine; */
    }
    /* .divider{
        margin: 5px 10px;
    } */
}