.AllDepartmentPageContainerEach{
    position: relative;
    border-radius: 5px;
    width: 330px;
    height: 400px;
    font-family: 'poppins', sans-serif;
    color: whitesmoke;
}

.AllDepartmentPageContainerEachOnHover{
    position: relative;
    border-radius: 5px;
    width: 330px;
    height: 400px;
    font-family: 'poppins', sans-serif;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.859);
}

.AllDepartmentPageContainerEachImg{
    border-radius: 5px;
    width: 330px;
    height: 400px;
    object-fit: cover;
}

.AllDepartmentPageContainerEachStackForm{
    border-radius: 5px;
    display: flex;
    transition: 0.1s;
    /* padding: 20px 0px 30px; */
    flex-direction: column; 
    /* margin-bottom: 30px;  */
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 0;
    text-align: center;
    width: 100%;
    height: 400px;
}

.AllDepartmentPageContainerEachStackFormHeaderHead{
    font-size: 1.55rem;
    margin: 0%;
}

.AllDepartmentPageContainerEachStackFormHeader{
    transition: .5s;
}

.AllDepartmentPageContainerEachStackFormHeaderPara{
    font-size: xx-small;     font-family: 'poppins', sans-serif;
}

.AllDepartmentPageContainerEachStackFormContent{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}
.AllDepartmentPageContainerEachStackFormContentHide{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.AllDepartmentPageContainerEachStackFormContent p{
    text-align: left;
    font-size: x-small;
    text-align: center;
    color: rgb(255, 255, 255);
}

.AllDepartmentPageContainerEachStackFormFooter{
    position: absolute;
    transition: .5s;
    display: flex;
    padding: 10px 20px;
    color: rgb(241, 241, 241);
    justify-content: space-between;
    align-items: flex-end;
    height: 400px;width: 100%;
}

.AllDepartmentPageContainerEachStackFormFooterOnHover{
    position: absolute;
    display: flex;
    padding: 10px 20px;
    color: black;
    justify-content: space-between;
    align-items: flex-end;
    height: 400px;width: 100%;
}
.AppearWhenHover{
    padding: 0px 20px;
    font-size: x-small;
}

@media screen and (max-width: 1000px){

    .AllDepartmentPageContainerEach{
        background-color: blueviolet;
        width: 290px;
        height: 350px;
        margin-top: 0%;
        margin-bottom: 35px;
    }
    
    .AllDepartmentPageContainerEachImg{
        width: 290px;
        height: 350px;
        margin: 0%;
    }
    .AllDepartmentPageContainerEachOnHover{
        width: max-content;
        height: 350px;
    }
    .AllDepartmentPageContainerEachStackForm{
        height: 350px;
    }
    .AllDepartmentPageContainerEachStackFormHeaderPara{
        display: none;
    }
    .AllDepartmentPageContainerEachStackFormFooter{
        display: none;
    }
}