@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lobster&family=Montserrat:wght@400;600;700;900&family=Oswald:wght@400;600&family=Poppins:wght@300;400&family=Raleway&family=Ruwudu&family=Tilt+Prism&display=swap');

.aboutUS{   
    width: 100%;
    height: 115vh;
    margin-bottom: 45px;
}

.AboutUs{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    height:115vh;
    justify-content: center;
    color: whitesmoke;
    font-family: 'poppins', sans-serif;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.aboutusContentone{
    margin-bottom: 40px;
}
.aboutUsContentHead{
    font-size: 1.8rem;
    margin: 0px 35px;
    padding: 5px 10px;
    width: max-content;
    font-weight: bolder;
    font-family: 'poppins', sans-serif;
}

:root {
    --neon-text-color: rgba(14, 14, 14, 0.267);
}

.linkonaboutus{
    margin: 30px 0px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
.linkFoundOnAboutUs{
    margin: 0px 10px;
    padding: 6px 12px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-size: x-small;
    border-radius: 4px;
}
.aboutusContent{
    flex: 1.5;
    padding: 10vh 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80vh;
}
.aboutUsContentPara{
    font-size: small;
    width: 90%;
    margin-right: auto;
    justify-items: center;
    text-align: justify;
    margin-left: auto;
    font-size: medium;
    font-weight: 400;
    font-style: oblique;
    color: whitesmoke;
    letter-spacing: .7px;
    font-family: 'poppins', sans-serif;
}
.aboutusImage{
    height: 100vh;
    flex: 1;
}
.collegeqoute{
    width: 89%;
    margin: 20px auto;
}
.collegeqouteParaBold{
    font-weight: 600;
}
.collegeqoutePara{
    font-style: italic;
    font-size: medium;
    font-family: 'poppins', monospace;
}
.imageFoundOnAboutUS{
    width: 100%;
    position: relative;
    height: 96vh;
}
.imgonABoutUs{
    position: absolute;
    transform: rotate(0.016turn);
    width: 400px;
    transition: all 2s;
    right: 0;
    top: 50px;
    height: 99vh;
    object-fit: cover;
    mix-blend-mode:luminosity;
}

@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.1rem -0.1rem .5rem #ff0000,
            0.1rem 0.1rem .5rem #ff0000,
            0 0 .2rem var(--neon-text-color),
            0 0 .2rem var(--neon-text-color),
            0 0 .2rem var(--neon-text-color),
            0 0 .2rem var(--neon-text-color),
            0 0 .2rem var(--neon-text-color);    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }   
}

@media only screen and (max-width: 1000px){
    .aboutUS{   
        margin-top: 65px;
        margin-bottom: 0px;
        height: 105vh;
    }
    
    .AboutUs{
        height: 105vh;
    }
    .imageFoundOnAboutUS{
        width: max-content;
    }
    .tobehidden{
        display: none;
    }
    .imgonABoutUs{
        width: 200px;
        z-index: -1;
        background: #ff0000;
        top: 0;
        opacity: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .aboutusContentone{
        margin-bottom: 20px;
    }
    .aboutUsContentHead{
        font-size: 1.5rem;
        pad: 0px 25px;
        width: max-content;
        /* background-color: #ff0000; */
    }
    .aboutusContent{
        padding: 0vh 20px;
    }
    .aboutUsContentPara{
        /* background-color: aqua; */
        width: 90%;
        font-size: small;
        font-weight: 400;
        font-style: oblique;
        margin-left: auto;
        margin-right: auto;
    }
    .collegeqoute{
        width: 80%;
        margin: 20px auto;
    }
    .collegeqoutePara{
        font-weight: 100;
    }
    /* .collegeqoutePara{
        font-size: small;
        font-weight: 100;
        font-style: oblique;
    } */

    .aboutusImage{
        display: none;
    }
    .imgonABoutUs{
        display: none;
    }
}

.imgonABoutUs:hover{
    mix-blend-mode:normal;
    width: 460px;
}
