@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lobster&family=Montserrat:wght@400;600;700;900&family=Oswald:wght@400;600&family=Poppins:wght@300;400&family=Raleway&family=Ruwudu&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:wght@200;300;400;500&family=Zilla+Slab&display=swap');

.EventMainPage{
    background-color: rgba(0, 0, 0, 0.596);
    backdrop-filter: blur(60px);
}

.Event_div{
    padding: 20px 0px 60px;
    backdrop-filter: blur(60px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.EventLeftColumn{
    width: 35%;
   height: 100%;
   /* padding: 5%; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

.EventRightColumn{
    backdrop-filter: blur(1px);
    width: 95%;
   /* height:800px; */
   padding: 20px 30px;
}
.EventImage{
    height: 350px;
    width: 370px;
    position: relative;
    border-radius: 7px;
}

.EventImageInside{
    height: 350px;
    margin-top: auto;
    display: flex;
    align-items: center;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    /* padding: 50px; */
    border-radius: 7px;
}

.EventImageImg{
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    object-fit: cover;
    /* padding: 50px; */
    border-radius: 7px;
}

.EventLinkbox{
    display: flex;
    justify-content: center;
}
.EventLinks{
    padding: 10px 15px;
}

#EventRegisterButton{
    padding: 12px 18px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: large;
    font-family: 'Inconsolata', monospace;
    outline: none;
    border: none;
}

.EventRegister{
    padding-top: 20px;
}
.EventName{
    color:snow;
    padding: 10px 20px;
    font-size: x-large;
}
.EventRightColumnEventHeader{
    text-decoration: solid 2px rgba(255, 250, 250, 0.827);
    font-family: 'Inconsolata', monospace;
    font-size: 1.8rem;
    text-decoration: underline;
    text-underline-offset: 15px;
    margin-bottom: 25px;
}

.EventRightColumnEventHeadertext{
    font-family: 'Inconsolata', monospace;
    font-size: small;
}

.EventDescriptionSubHeads{
    font-family: 'Inconsolata', monospace;
    color: snow;
    text-decoration: solid underline 2px rgba(255, 250, 250, 0.838) ;
    text-underline-offset: 13px;
    margin-bottom: 20px;
    font-size: medium;
}
.EventDescriptiontext{
    font-family: 'Inconsolata', monospace;
    color:snow;
    font-size: smaller;
    padding: 10px;
}
.EventDescription{
    font-family: 'Inconsolata', monospace;
    color:snow;
    margin-top: 10px;
    padding: 10px 20px;
}
.RulesList{
    list-style-type: disc;
    color: snow;
    padding: 20px;
    font-family: 'Inconsolata', monospace;
}

.EventRulesSubHeads{
    font-family: 'Inconsolata', monospace;
    color: whitesmoke;
    text-decoration: solid underline 2px rgba(255, 250, 250, 0.838) ;
    text-underline-offset: 13px;
    margin-bottom: 10px;
    font-size: medium;
}

.EventPrizeSubHeads{
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;
    text-decoration: solid underline 1px rgb(215, 215, 215) ;
    text-underline-offset: 13px;
    margin-bottom: 25px;
    font-size: medium;
}

.EventPrizetext{
    font-size: small;
}

.EventDetailsSubHeads{
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;
    text-decoration: solid underline 1px rgba(255, 250, 250, 0.838) ;
    text-underline-offset: 13px;
    margin-bottom: 25px;
    font-size: medium;
}

.ListInBold{
    font-weight: 500;
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;
}

.EventDetailsListEach{
    font-family: 'Inconsolata', monospace;
    color: whitesmoke;
    font-size: small;
    padding: 1px;
}

.EventRules{
    padding:10px 20px;
    font-family: 'Inconsolata', monospace;
}

.RulesListEach{
    font-size: small;
    padding:1px;
}

.EventPDC{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
}

.pdc{
    margin:10px;
    font-family: 'Inconsolata', monospace;
    width: 33.33%;
}

#EventRegisterButton:hover{
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    outline: none;
    border: none;
}
.EventLinks:hover{
    transform: scale(1.09);
    color: powderblue;
}
.EventContactSubHeads{
    font-family: 'Inconsolata', monospace;
    color: whitesmoke;
    text-decoration: solid underline 2px rgba(255, 250, 250, 0.838) ;
    text-underline-offset: 13px;
    margin-bottom: 25px;
    font-size: medium;  
}
.EventPrizetext{
    font-family: 'Inconsolata', monospace;
    color: whitesmoke;
}
.EventLeftColumnfORmoBILE{
    display: none;
}
.EventRegisterMobile{
    display: none;
}
.EventPDCForMobile{
    display: none;
}

@media only screen and (max-width:1000px){

    .Event_div{
    
        flex-direction: column-reverse;
        
    }
    .EventRightColumn{
        margin-left: auto;
        margin-right: auto;
    }
    .EventRegisterMobile{
        display: block;
        width: max-content;
        margin-right: auto;
        margin-left: auto;
    }
    .EventRegister{
        margin-left: auto;
        margin-right: auto;
    }
    .EventLeftColumn{
        display: none;
    }
    .EventLeftColumnfORmoBILE{
        display: block;
    }
    .EventDescription{
        text-align: center;
    }
    .EventRightColumnEventHeadertext{
        text-align: center;
    }
    .EventDescriptiontext{
        text-align: justify;
        font-size: medium;
    }
    .EventRightColumnEventHeader{

        font-size: 1.5rem;
        text-underline-offset: 15px;
        text-align: center;
    }
    .EventRightColumn{
        padding: 10px 0px;
    }
    .RulesList{
        padding: 10px 20px;
    }
    .RulesListEach{
        padding: 3px 0px;
    }
    .EventImage{
        height: 250px;
        margin-bottom: 30px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .EventName{
        margin-bottom: 30px;
    }
    .EventPDC{
        display: none;
    }
    .EventImageImg{
        width: 250px;
        height: 250px;
    }
    .EventImageInside{
        height: 250px;
        width: 250px;
    }
    .EventRules{
        text-align: justify;
        padding: 25px 20px;
    }
    .EventRulesSubHeads{
        text-align: center;
    }
    .EventPDCForMobileFlex{
        flex: 1;
        text-align: center;
    }
    .EventPDCForMobile{
        display: flex;
        margin-top: 40px;
        flex-direction: column-reverse;
    }
    .EventDetailsSubHeadsForMobile{
        font-size: small;
        font-family: 'Inconsolata', monospace;
        color: whitesmoke;
    }
    .EventDetailsListEach{
        font-family: 'Inconsolata', monospace;
        font-size: smaller;
    }
    
    .EventPDCForMobileFlex{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .EventPrizeForMobile{
        margin-top: 20px;
        text-align: center;
        font-size: xx-small;
    }
}