.AllDepartmentPageHeader{
    display: flex;
    flex-direction: row;
    margin: 30px 10px 10px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inconsolata', monospace;
}

.AllDepartmentPageHeaderHead{
    font-size: 2rem;
    color: rgb(245, 245, 245);
}

.AllDepartmentPageHeaderLink{
    display: flex;
    /* max-width: 800px; */
    align-items: center;
    /* overflow-x:scroll; */
    scrollbar-width:none;
    /* scrollbar-color: black; */
    flex-direction: row;
}

.AllDepartmentPageHeadereachLinks{
    word-wrap:break-word;
    padding: 10px 15px;
    cursor: pointer;
    font-size: small;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: whitesmoke;
    margin: 0px 4px;
}

.AllDepartmentPageHeadereachLinksSelected{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.AllDepartmentPageHeadereachLinks:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}