.RegisterPage{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Register{
    background-color: rgba(0, 0, 0, 0.836);
    display: flex;
    flex-direction: row;
    font-size: large;
}
.RegContentsBox{
    /*background-color: rgba(139, 60, 60, 0.712);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*padding: 10%;*/
    width: 50%;
    
}
.RegHeader{
    padding: 20px;
    font-family: 'Inconsolata', monospace;
    color: snow;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.RegInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.RegInp{
    padding: 10px;
}

.Transaction-id{
    padding: 15px;
    border-radius: 25px;
    font-family: 'Inconsolata', monospace;
    width: 350px;
    color: rgb(0, 0, 0);
}
.Event-1{
    padding: 10px;
    border-radius: 25px;
    font-family: 'Inconsolata', monospace;
    width: 270px;
    color: snow;
    background-color: rgb(69, 69, 69);
    font-size: large;
}
.EventOption{
    padding: 10px;
    background-color: rgb(69, 69, 69);
    font-family: 'Inconsolata', monospace;
    border-radius: 10px;
    color: snow;
    font-size: large;
}
.RegEventsDropdown{
    padding: 10px;
}
.RegisterBtnCont{
    padding: 25px;
}
.RegisterButton{
    height: 50px;
    width: 120px;
    border-radius: 25px;
    font-size: larger;
    font-family: 'Inconsolata', monospace;
    background-color: black;
    color: snow;
    border-color: transparent;
}
#Event_label{
    font-family: 'Inconsolata', monospace;
    color: snow;
}
.RegisterButton:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.InstructionsCont{
    background-color: rgba(0, 0, 0, 0.836);
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.InstructionHead{
    padding: 20px;
    font-family: 'Inconsolata', monospace;
    color: snow;
}
.InstructionBody{
    padding: 20px;
    font-family: 'Inconsolata', monospace;
    color: snow;
}
.Instructions{
    padding: 4px;
}
.ScanningCont{
    /*background-color: rgba(0, 0, 0, 0.712);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.QrCodeHead{
    padding: 10px;
    font-size: large;
    font-family: 'Inconsolata', monospace;
    color: snow;
}
.QrCode{
    padding: 20px;
}
#h2Instructions{
    text-decoration: 2px solid underline snow;
    padding: 2px;
}
#h1Register{
    font-size: 50px;
}