.AllDepartmentPage{
    width: 100%;
    padding: 20px 40px;
    position: relative;
    backdrop-filter: blur(10px);
    background-color: rgba(57, 57, 57, 0.86)
}

.divider{
    margin: 30px;
    border: 1px solid rgb(255, 255, 255);
}

.AllDepartmentPageHeaderLinkInMobile{
    display: none;
}
.AllDepartmentPageContactus{
    width: 100%;
}
.AllDepartmentPageContactusSession{
    display: flex;
    flex-direction: column;
    width: max-content;
    padding:15px 25px;
    border: 1px solid whitesmoke;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: whitesmoke;
}
.NavOnMobileP{
    display: none;
}
.NavOnMobileClick{
    display: none;
}
@media only screen and (max-width:1000px){
    .AllDepartmentPageHeaderLink {
        position: relative;
        display: none;
        margin-top: 50px;
        text-align: center;

    }
    .NavOnMobileP{
        display: block;
    }
    .NavOnMobileClick{
        display: block;
    }
    .NavOnMobileClick{
        overflow: hidden;
        position: fixed;
        display: none;
        /* margin: 0%; */
        top: 0;
        left: 0;
        bottom: 0;
        height: 100vh;
        z-index: 10;
        width: 100vw;
        color: whitesmoke;
    }

    .NavOnMobile{
        /* overflow: hidden; */
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100vh;
        z-index: 10;
        width: 100vw;
        background-color: rgb(246, 246, 246);
        font-family: 'poppins', sans-serif;
        color: whitesmoke;
    }

    .NavOnMobileP{
        z-index: 100;
        transform: rotate(90deg);
        /* padding: 15px 25px; */
        text-align: right;
        position: absolute;
        top: 55px;
        right: 45px;
        font-size: large;
        color: whitesmoke;
        font-weight: 600;
    }

    .NavOnMobileX{
        color: black;
        text-align: right;
        position: absolute;
        top: 30px;
        right: 20px;
    }

    .AllDepartmentPageContactusSession{
        display: flex;
        flex-direction: column;
        width: max-content;
        padding:15px 25px;
        border: 1px solid whitesmoke;
        margin-left: auto;
        text-align: center;
        margin-right: auto;
        color: whitesmoke;
    }
    .AllDepartmentPageHeadereachLinks{
        color: black;
        z-index: 100;
        font-size: large;
    }
    .AllDepartmentPageHeaderLinkInMobile {
        margin-top: 50px;
        display: block;
        transition: all .5s;
        text-align: center;
    }
    .AllDepartmentPageHeaderLinkInMobile{
        display: block;
    }
    
}