*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body{
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: border-box;
  backdrop-filter: blur(10px);;
  background-attachment: fixed;
  background-image: url("./Components//picture.jpg");
}